
@model IEnumerable<EntityLayer.Concrete.Record>

@{
	ViewBag.Title = "ARecordListByActivity";
	Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h3>Toplam Kayıt Sayısı : @ViewBag.countact</h3>
<br />

<div class="row">
	@foreach (var item in Model)
	{
		<div class="col-lg-4 col-sm-6">
			<div class="card">
				<div class="card-body">
					<div class="text-center">
						<h5 class="mt-3 mb-1">@item.Name @item.Surname</h5>
						<br />
						<p class="m-0 p-1"><b>Mail Adresi</b> : @item.Email</p>
						<p class="m-0 p-1"><b>Kayıt Tarihi</b> : @item.RecordDate.ToString("d MMMMM yyy")</p>
						<p class="m-0 p-1"><b>Telefon Numarası</b> : @item.Phone</p>
						<p class="m-0 p-1"><b>Kişi Sayısı</b> : @item.PeopleNumber</p>
						<p class="m-0 p-1"><b>Şehir</b> : @item.Member.City</p>
						<p class="m-0 p-1"><b>Meslek</b> : @item.Member.Job</p>
						@if (item.Status == true)
						{
							<p class="m-0 p-1 text-success">Onaylandı</p>
						}
						else
						{
							<p class="m-0 p-1 text-danger">(Onaylanmadı)</p>
						}
						@if (item.StatusPrice == true)
						{
							<p class="m-0 p-1 text-success">Ücret Alındı</p>
						}
						else
						{
							<p class="m-0 p-1 text-danger">(Ücret Alınmadı)</p>
						}
						<br />
					</div>
					<div class="text-center mb-2">
						<a href="/Record/ADeleteRecord/@item.RecordId" class="btn btn-danger">Sil</a>
						@if (item.Status == true)
						{
							<a href="/Record/ARecordDoFalse/@item.RecordId" class="btn btn-danger">Pasif Yap</a>
						}
						else
						{
							<a href="/Record/ARecordDoTrue/@item.RecordId" class="btn btn-success">Aktif Yap</a>
						}
						@if (item.StatusPrice == true)
						{
							<a href="/Record/ARecordDoPriceFalse/@item.RecordId" class="btn btn-danger">Ücret Alındı</a>
						}
						else
						{
							<a href="/Record/ARecordDoPriceTrue/@item.RecordId" class="btn btn-success">Ücret Al</a>
						}
					</div>
				</div>
			</div>
		</div>
	}
</div>

