
@model IEnumerable<EntityLayer.Concrete.Record>

@{
	ViewBag.Title = "MemberRecordList";
	Layout = "~/Views/Shared/MemberLayout.cshtml";
}

<section class="posts section">
	<div class="container">
		<div class="row">
			@foreach (var item in Model)
			{
				<article class="col-md-4 col-sm-6 col-xs-12 clearfix ">
					<div class="post-item" style="border:1px solid #d3cbcb; border-radius:20px;">
						<div class="content">
							<h3><a href="#">@item.Activity.Title</a></h3>
							<p style="color:#be5252">Kayıt Tarihi : @item.RecordDate.ToString("d MMMMM yyy H:mm")</p>
							<p style="color:#be5252">Etkinlik Tarihi : @item.Activity.StartDate</p>
							<p style="color:#be5252">Kişi Sayısı : @item.PeopleNumber</p>
							<p style="color:#be5252">Ücret : @item.Activity.Price TL</p>
							<p style="color:#be5252">Toplam Ücret : @Decimal.ToInt32(@item.Activity.Price * @item.PeopleNumber),00 TL</p>
							@if (item.Status == true)
							{
								<button class="btn btn-success" disabled="disabled">Onaylandı</button>
							}
							else
							{
								<button class="btn btn-danger">Onay Bekliyor</button>
							}
							@if (item.StatusPrice == true)
							{
								<button class="btn btn-success" disabled="disabled">Ödeme Alındı</button>
							}
							else
							{
								<button class="btn btn-danger">Ödeme Bekleniyor</button>
							}
						</div>
					</div>
				</article>
			}
		</div>
	</div>
</section>

@Html.Action("Index", "Footer")

